body {
    margin: 20px;
}

.toc {
    padding: 20px;
    margin-top: 10px;
}

.button-primary:hover {
    background-color: #2980b9;
}

.toc a {
    padding: 5px;
    border-radius: 5px;
}

.toc a.active {
    background-color: rgb(240, 240, 240);
}


/* Styles relevant to plot components */

.my-scatterplot {
    width: 600px;
    height: 400px;
    position: relative;
    margin-bottom: 20px;
}

.plot, .plot svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.plot-axes .background {
    fill: #ecf0f1;
}

.plot-axes .axis path {
    stroke: rgb(220, 220, 220);
    shape-rendering: crispEdges;
}

.plot-axes .axis .tick {
    font-size: 11px;
}

.plot-axes .axis .tick line {
    stroke: white;
}

.plot-axes .plot-area {
    position: relative;
}
