<div class="container">
    <div class="three columns toc">
        <h4>Demo</h4>

        <ol>
            <li>{{#link-to 'simple'}}A simple plot{{/link-to}}</li>
            <li>{{#link-to 'layer'}}With a layer{{/link-to}}</li>
            <li>{{#link-to 'layers'}}With many layers{{/link-to}}</li>
        </ol>

        <button class="button-primary" {{action "chooseN" 15}}>Change things!</button>
    </div>

    <div class="nine columns">
        {{outlet}}
    </div>
</div>
