<h1>Multiple block param layers</h1>

{{#my-scatterplot data=app.carData y="mpg" x="wt" color="cyl" as |plot|}}
{{!-- Add a separate regression line for each factor --}}
{{#each subsets as |subset|}}

{{plot-regression data=subset
                  x=plot.x
                  y=plot.y
                  color=plot.color
                  colorScale=plot.colorScale
                  xScale=plot.xScale
                  yScale=plot.yScale}}

{{/each}}
{{/my-scatterplot}}
